h1 {
    background: rgb(164,32,67);
background: -moz-linear-gradient(left, rgb(164,32,67) 0%, rgb(203,33,122) 50%, rgb(86,17,117) 100%);
background: -webkit-linear-gradient(left, rgb(164,32,67) 0%, rgb(203,33,122) 50%, rgb(86,17,117) 100%);
background: linear-gradient(to right, rgb(164,32,67) 0%, rgb(203,33,122) 50%, rgb(86,17,117) 100%);
    font-family:Trebuchet MS, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif MS';
}
h2 {
    font-size: 19px;
    font-family: Calibri;
}
p, h2, img{
    text-align: justify;
    margin: 20px 200px 20px 200px;
}

*{
    background: rgb(227,193,218);
    background: -moz-linear-gradient(top, rgb(227,193,218) 0%, rgb(255,192,222) 49%, rgb(255,170,146) 100%);
    background: -webkit-linear-gradient(top, rgb(227,193,218) 0%, rgb(255,192,222) 49%, rgb(255,170,146) 100%);
    background: linear-gradient(to bottom, rgb(227,193,218) 0%, rgb(255,192,222) 49%, rgb(255,170,146) 100%);}